<launch>

  <!-- Run the velocity converter node -->
  <node pkg="roborts_planning" type="vel_converter" name="vel_converter_node" respawn="false" />

  <!-- Run the camera node -->
  <node pkg="my_roborts_camera" type="armor_classes.py" name="my_roborts_camera" respawn="false" />

  <!-- Run the client node -->
  <node pkg="roborts_detection" type="armor_detection_client" name="armor_detection_client" respawn="false" />

  <!-- Run the detection node -->
  <node pkg="roborts_detection" type="armor_detection_node" name="armor_detection_node" respawn="false" />
 
  <!-- Run the shoot node -->
  <node pkg="roborts_shoot" type="shoot_client" name="shoot_client" respawn="false" /> 
 
</launch>

